*{
    box-sizing: border-box;
    font-family: "Audiowide", sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,900;1,1000&display=swap');
:root{
    --TextGreen: #3BB143;
    --colorBlue: #1c375b;
    --colorLightBlue: #8ba1bb;
    --colorwhite: #f5f5f5;
    --colorLightRed: #d2544a;	
    --colorDarkRed: #c1291b;
    --oldComoColor: #b49e72;
}

#btn-test-1,
#btn-test-2,
#btn-test-3{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #c1291b;
    right: 1200px;
    top: 300px;
    text-align: center  ;
    cursor: pointer;
    border-radius: 15px;
}
#btn-test-2{
    top: 400px;
}
#btn-test-3{
    top: 500px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./image/DarkSkynight.png);
    background-size:cover;
}

#quizinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorDarkRed);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 30px;
    min-width: 900px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px var(--colorLightRed);
    z-index: 1;
}
h1{
    font-family: "Audiowide", sans-serif;
    font-size: 30pt;
    line-height: 1px;
}
#gameTimer{
    margin: 5px;
    font-size:25px;
    font-family: "Audiowide", sans-serif;
}

#gameArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 10px;
    padding: 15px 30px;
    min-width: 900px;
    min-height: 550px;
    box-shadow: 0px 0px 600px #043927;
    color: var(--TextGreen);
    border: solid 2pt var(--TextGreen);
    /* border-radius: 25px; */
    /* border-image: radial-gradient(circle, rgba(180,158,114,1) 80%, rgba(92,82,62,1) 90%, rgba(45,40,30,1) 100%) 1;
    border-width: 12px;
    border-style: solid; */

}
#question{
    font-size: 25pt;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-bottom: 1%;
    border-bottom: dashed var(--TextGreen);
}


button{
    font-size: 20pt;
    text-align: left;
    padding: 10px 15px;
    min-width: 700px;
    margin: 15px 0;
    /* This is need for style on hover&active */
    border-top: solid .1pt black;
    border-bottom: solid .1pt black;
    border-left: solid .1pt black;
    border-right: solid .1pt black;
    background: black;
    color: var(--TextGreen);
    cursor: pointer;
    text-transform: uppercase;
}
button:hover,
button:active{
    border-top: solid .1pt var(--TextGreen);
    border-bottom: solid .1pt var(--TextGreen);
    border-left: none;
    border-right: none;

}
